<app-menu></app-menu>
<div id="htmlData">
<div class="container">
<table id="customers">
  <thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">DNI</th>
    <th scope="col">ID</th>
    <th scope="col">Sector</th>
    <th scope="col">Puesto</th>
  </tr>
  </thead>
  <tbody>
  <td>{{empleado.nombre}}</td>
  <td>{{empleado.apellido}}</td>
  <td>{{empleado.dni}}</td>
  <td>{{empleado.idEmpleado}}</td>
  <td>{{empleado.sector}}</td>
  <td>{{empleado.puesto}}</td>
  </tbody>
</table>
</div>
<br>
<br>
<div class="container">
  <h1>Dispositivos</h1>
  <table id="customers2">
    <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Numero de serie</th>
      <th scope="col">modelo</th>
      <th scope="col">ID</th>
      <th scope="col">marca</th>
      <th scope="col">valor</th>
      <th scope="col">asegurado</th>
      <th scope="col">Asignado por</th>
      <th scope="col"  *ngIf="permitido">Quitar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dispositivo of dispositivos">
      <td>{{dispositivo.tipo}}</td>
      <td>{{dispositivo.numeroDeSerie}}</td>
      <td>{{dispositivo.modelo}}</td>
      <td>{{dispositivo.idDispo}}</td>
      <td>{{dispositivo.marca}}</td>
      <td>{{dispositivo.valor}}</td>
      <td *ngIf="dispositivo.asegurado">SI</td>
      <td *ngIf="!dispositivo.asegurado">NO</td>
      <td>{{dispositivo.ejecutor}}</td>
      <td><button class="btn btn-outline-danger btn-block" (click)="quitar(dispositivo.id)"><i class="far fa-trash-alt"></i></button></td>

    </tr>
    </tbody>
  </table>
  <br>
  <br>
  </div>
</div>
  <button  *ngIf="permitido" class="btn btn-outline-primary "  style="color: green;border-color: green" routerLink="/empleados/{{empleado.id}}/dispositivos/nuevo">
    <i class="fas fa-plus-circle"></i> Asginar dispositivo</button>
<button class="btn btn-outline-primary" (click)="downloadPDF()" style="margin: 10px;color: green;border-color: green" >
  <i class="fas fa-plus-circle"></i> Descargar PDF</button>
  <button class="btn btn-outline-primary" style="margin-left: 10px" routerLink="/empleados">
      <i class="fas fa-arrow-alt-circle-left " ></i> Volver</button>


