<app-menu></app-menu>
<div class="form-row">
  <div class="form-group col-md-4">
    <p>Categoría:
      <select [(ngModel)]="categoria" class="form-control" (change)="cambioCategoria()">
        <option value="dispositivo">Dispositivo</option>
        <option value="empleado">Empleado</option>
      </select>
    </p>
  </div>
  <div class="form-group col-md-4" [hidden]="categoria!='dispositivo'">
    <p>Filtrar por:
      <select [(ngModel)]="filtrado" class="form-control" (change)="cambio()">
        <option value="seleccionar" selected>Seleccione una opcion</option>
        <option value="listar">Listar todos</option>
        <option value="tipo">Tipo</option>
        <option value="numeroDeSerie">Numero de serie</option>
        <option value="modelo">Modelo</option>
        <option value="idDispo">ID</option>
        <option value="marca">Marca</option>
        <option value="valor">Valor</option>
        <option value="asegurado">Asegurado</option>
        <option value="duenio">Asignado</option>
        <option value="deshabilitado">Deshabilitado</option>
      </select>
    </p>
  </div>
  <div class="form-group col-md-4" [hidden]="categoria != 'empleado'">
    <p>Filtrar por:
      <select [(ngModel)]="filtrado" class="form-control" (change)="cambio()">
        <option value="seleccionar" selected>Seleccione una opción</option>
        <option value="listar">Listar todos</option>
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
        <option value="dni">DNI</option>
        <option value="idEmpleado">ID</option>
        <option value="sector">Sector</option>
        <option value="puesto">Puesto</option>
      </select>
    </p>
  </div>
  <div class="form-group col-md-4">
    <p [hidden]="filtrado != 'tipo'">Tipo:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="tipo" >
        <option selected value="">Seleccione un tipo</option>
        <option [value]="item" *ngFor="let item of tipos">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'numeroDeSerie'">Numero de serie:
      <input [(ngModel)]="valor" type="text" class="form-control" id="numeroDeSerie"
             name="numeroDeSerie" style="width: 250px">
    </p>

    <p [hidden]="filtrado != 'modelo'">Modelo:
      <input [(ngModel)]="valor" type="text" class="form-control" id="modelo"
             name="modelo" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'idDispo'">ID:
      <input [(ngModel)]="valor" type="text" class="form-control" id="idDispo"
             name="idDispo" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'marca'">Marca:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="marca" >
        <option selected value="">Seleccione una marca</option>
        <option [value]="item" *ngFor="let item of marcas">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'valor'">Valor:
      <input [(ngModel)]="valor" type="text" class="form-control" id="valor"
             name="valor" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'asegurado'">Asegurado:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="asegurado" >
        <option selected value="">Seleccione una opción </option>
        <option value="SI"> SI </option>
        <option value="NO"> NO </option>
      </select>
    </p>
    <p [hidden]="filtrado != 'duenio'">Asginado:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="asignado" >
        <option selected value="">Seleccione una opción </option>
        <option value="asignado"> Asignado </option>
        <option value="sinasignar"> Sin asignar </option>
      </select>
    </p>
    <p [hidden]="filtrado != 'deshabilitado'">Deshabilitado:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="deshabilitado" >
        <option selected value="">Seleccione una opción </option>
        <option value="SI"> SI </option>
        <option value="NO"> NO </option>
      </select>
    </p>
    <p [hidden]="filtrado != 'sector'">Sector:
      <select [(ngModel)]="valor" name="sector" class="form-control" id="sector" >
        <option selected value="">Seleccione un sector</option>
        <option [value]="item" *ngFor="let item of sectores">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'nombre'">Nombre:
      <input [(ngModel)]="valor" type="text" class="form-control" id="nombre"
             name="nombre" style="width: 250px">
    </p>

    <p [hidden]="filtrado != 'apellido'">Apellido:
      <input [(ngModel)]="valor" type="text" class="form-control" id="apellido"
             name="apellido" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'dni'">DNI:
      <input [(ngModel)]="valor" type="text" class="form-control" id="dni"
             name="dni" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'puesto'">Puesto:
      <select [(ngModel)]="valor" name="puesto" class="form-control" id="puesto" >
        <option selected value="">Seleccione un puesto</option>
        <option [value]="item" *ngFor="let item of puestos">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'idEmpleado'">ID:
      <input [(ngModel)]="valor" type="text" class="form-control" id="idEmpleado"
             name="idEmpleado" style="width: 250px">
    </p>
  </div>
</div>
<button style="width: 150px;height: 70px" class="btn btn-outline-success btn-block" [disabled]="filtrado=='' || valor=='' || categoria=='category'" (click)="filtrar()">
  <i class="fas fa-plus-circle"></i> Filtrar</button>

<div id="htmlData">
<div class="container" [hidden]="categoria != 'dispositivo'">
  <h1>Dispositivos</h1>
  <table id="customers" >
    <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Numero de serie</th>
      <th scope="col">modelo</th>
      <th scope="col">ID</th>
      <th scope="col">marca</th>
      <th scope="col">valor</th>
      <th scope="col">asegurado</th>
      <th scope="col">Estado</th>
      <th scope="col">Historial</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dispositivo of dispositivos">
      <td>{{dispositivo.tipo}}</td>
      <td>{{dispositivo.numeroDeSerie}}</td>
      <td>{{dispositivo.modelo}}</td>
      <td>{{dispositivo.idDispo}}</td>
      <td>{{dispositivo.marca}}</td>
      <td>{{dispositivo.valor}}</td>
      <td *ngIf="dispositivo.asegurado">SI</td>
      <td *ngIf="!dispositivo.asegurado">NO</td>
      <td *ngIf="dispositivo.estado==0">SIN ASIGNAR</td>
      <td *ngIf="dispositivo.estado==1">ASIGNADO</td>
      <td *ngIf="dispositivo.estado==2">DESHABILITADO</td>
      <td> <li>
        <a routerLink="/dispositivos/{{dispositivo.id}}/historial"><i class="fa fa-mobile"></i> Ver</a>
      </li>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
<div class="container" [hidden]="categoria != 'empleado'">
  <h1>Empleados</h1>
  <table id="customers2">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">ID</th>
      <th scope="col">Sector</th>
      <th scope="col">Puesto</th>
      <th scope="col">Dispositivos</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.dni}}</td>
      <td>{{empleado.idEmpleado}}</td>
      <td>{{empleado.sector}}</td>
      <td>{{empleado.puesto}}</td>
      <td>
        <li>
          <a routerLink="/empleados/{{empleado.id}}/dispositivos"><i class="fa fa-mobile"></i> Ver dispositivos </a>
        </li>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
</div>
<div class="container" [hidden]="categoria != 'empleado' && categoria!='dispositivo'" >
<button class="btn btn-outline-success btn-lg" (click)="downloadPDF()" style="margin: 10px" >
  <i class="fas fa-plus-circle"></i> Descargar PDF</button>
</div>
