<app-menu></app-menu>
<div class="container">
  <h1>Empleados</h1>
  <table id="customers">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">ID</th>
      <th scope="col">Sector</th>
      <th scope="col">Puesto</th>
      <th scope="col">Dispositivos</th>
      <th scope="col" *ngIf="permitido">Editar</th>
    </tr>
    </thead>
  <tbody>
  <tr *ngFor="let empleado of empleados">
    <td>{{empleado.nombre}}</td>
    <td>{{empleado.apellido}}</td>
    <td>{{empleado.dni}}</td>
    <td>{{empleado.idEmpleado}}</td>
    <td>{{empleado.sector}}</td>
    <td>{{empleado.puesto}}</td>
    <td>
      <li>
        <a routerLink="/empleados/{{empleado.id}}/dispositivos"><i class="fa fa-mobile"></i> Ver dispositivos </a>
      </li>
    </td>
    <td *ngIf="permitido"><button class="btn btn-outline-success" style="color: green" routerLink="/empleados/{{empleado.id}}/editar">
      <i class="far fa-edit "style="color: green"></i> Editar</button></td>

  </tr>
  </tbody>
  </table>
  <br>
 <div class="mt-3" *ngIf="permitido">
   <button class="btn btn-outline-success btn-lg" routerLink="/empleados/nuevo" style="margin: 10px" >
     <i class="fas fa-plus-circle"></i> Nuevo Empleado</button>
 </div>
</div>
