<app-menu></app-menu>
<div class="form-row">
  <div class="form-group col-md-4">
    <p>Filtrar por:
      <select [(ngModel)]="filtrado" class="form-control" (change)="cambio()">
        <option value="listar" selected>Listar todos</option>
        <option value="tipo">Tipo</option>
        <option value="numeroDeSerie">Numero de serie</option>
        <option value="modelo">Modelo</option>
        <option value="idDispo">ID</option>
        <option value="marca">Marca</option>
        <option value="valor">Valor</option>
        <option value="asegurado">Asegurado</option>
        <option value="duenio">Asignado</option>
      </select>
    </p>
  </div>
  <div class="form-group col-md-4">
    <p [hidden]="filtrado != 'tipo'">Tipo:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="tipo" >
        <option selected value="">Seleccione un tipo</option>
        <option [value]="item" *ngFor="let item of tipos">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'numeroDeSerie'">Numero de serie:
      <input [(ngModel)]="valor" type="text" class="form-control" id="numeroDeSerie"
             name="numeroDeSerie" style="width: 250px">
    </p>

    <p [hidden]="filtrado != 'modelo'">Modelo:
      <input [(ngModel)]="valor" type="text" class="form-control" id="modelo"
             name="modelo" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'idDispo'">ID:
      <input [(ngModel)]="valor" type="text" class="form-control" id="idDispo"
             name="idDispo" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'marca'">Marca:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="marca" >
        <option selected value="">Seleccione una marca</option>
        <option [value]="item" *ngFor="let item of marcas">{{item}}</option>
      </select>
    </p>
    <p [hidden]="filtrado != 'valor'">Valor:
      <input [(ngModel)]="valor" type="text" class="form-control" id="valor"
             name="valor" style="width: 250px">
    </p>
    <p [hidden]="filtrado != 'asegurado'">Asegurado:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="asegurado" >
        <option selected>Seleccione una opción </option>
        <option value="SI"> SI </option>
        <option value="NO"> NO </option>
      </select>
    </p>
    <p [hidden]="filtrado != 'duenio'">Asginado:
      <select [(ngModel)]="valor" name="tipo" class="form-control" id="asignado" >
        <option selected>Seleccione una opción </option>
        <option value="asignado"> Asignado </option>
        <option value="sinasignar"> Sin asignar </option>
      </select>
    </p>
  </div>
  <button style="width: 150px;height: 70px" class="btn btn-outline-success btn-block" [hidden]="filtrado=='' || valor==''" (click)="filtrar()">
    <i class="fas fa-plus-circle"></i> Filtrar</button>

</div>

<div class="container">
  <h1>Dispositivos</h1>
  <table id="customers" >
    <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Numero de serie</th>
      <th scope="col">modelo</th>
      <th scope="col">ID</th>
      <th scope="col">marca</th>
      <th scope="col">valor</th>
      <th scope="col">asegurado</th>
      <th scope="col">Estado</th>
      <th scope="col">Historial</th>
      <th scope="col" *ngIf="permitido">Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dispositivo of dispositivos">
      <td>{{dispositivo.tipo}}</td>
      <td>{{dispositivo.numeroDeSerie}}</td>
      <td>{{dispositivo.modelo}}</td>
      <td>{{dispositivo.idDispo}}</td>
      <td>{{dispositivo.marca}}</td>
      <td>{{dispositivo.valor}}</td>
      <td *ngIf="dispositivo.asegurado">SI</td>
      <td *ngIf="!dispositivo.asegurado">NO</td>
      <td *ngIf="dispositivo.estado==0">SIN ASIGNAR</td>
      <td *ngIf="dispositivo.estado==1">ASIGNADO</td>
      <td *ngIf="dispositivo.estado==2">DESHABILITADO</td>
      <td> <li>
        <a routerLink="/dispositivos/{{dispositivo.id}}/historial"><i class="fa fa-mobile"></i> Ver</a>
      </li>
      </td>
      <td *ngIf="permitido"><button class="btn btn-outline-success" style="color: green" routerLink="/dispositivos/{{dispositivo.id}}/editar">
        <i class="far fa-edit "style="color: green"></i> Editar</button></td>
    </tr>
    </tbody>
  </table>
  <br>
  <div class="mt-3" *ngIf="permitido">
    <button class="btn btn-outline-success btn-lg" routerLink="/dispositivos/nuevo" style="margin: 10px" >
      <i class="fas fa-plus-circle"></i> Nuevo Dispositivo</button>
  </div>
</div>
<br>

